@import '~antd/dist/antd.css';

.ant-layout-header {
  width: 100%;
  background-color: rgb(29, 27, 27);
  position: sticky;
  top: 0;
  z-index: 9999;
}

.ant-space-item {
  display: flex;
  align-items: center;
}

.ant-layout-footer {
  background-color: rgb(29, 27, 27);
}

.common-table .ant-table-thead > tr > th {
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #e8e8e8;
}

.common-table-author,
.common-table-lv,
.common-table-cell-date {
  min-width: 70px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.common-table-title > a {
  color: #40a9ff;
}
.common-table-title > a:hover {
  color: #074279;
}
.common-table-cell-date {
  min-width: 100px;
}

.ant-breadcrumb ol {
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
  font-size: 16px;
}
.report-timeline {
  padding-left: 40px;
  margin-top: 20px;
}

.report-timeline .ant-timeline-item-content > div {
  display: grid;
  grid-template-columns: 120px auto;
}

.report-timeline .ant-timeline-item-last > .ant-timeline-item-content {
  min-height: unset;
}
